*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:sans-serif;
    list-style: none;
    text-decoration: none;
}

.container{
    grid-template-areas: ' header'
                         'main';       
    height: 100%;
}


header{
    padding: 10px;
    display: flex;
 align-items: center;
    grid-area:header;
    background-color: rgb(27, 77, 146);
    color: #EEE;
}

header img{
    height: 30px;

}
/** estilos das anotacoes **/
main{
    height: 100%;
    grid-area:main;
 display: flex;
  align-items: center;
    flex-direction: column;
}

.container-content{
    background-color: #eee;
     width: 90%;
   padding:  4%;
    display: flex;
    height:100%;
    min-height: 100vh;
   display:flex;
    flex-wrap: wrap;
    font-size: 13px;
    
    
}


.container-content ul{
    display: flex;
   flex-direction: column;
   width:100%;
}

ul li{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(83, 83, 235);
    padding: 2%;
    height: 80px;
}

ul li div,img{
    margin-right: 27px;
}

.content-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner-content ul li #profile{
    display: inline;
}

ul li:hover{
    background-color: rgb(180, 180, 180);
}
ul li img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #eee;
    padding: 10px;
}

.icons-func{
    display: flex;
    justify-content: flex-start;
}

.icons-func a{
    margin-right: 10px;
}

/** estilos do modal **/

.modal-ctt{
    width: 50%;
    min-width: 240px;
    background-color: rgb(170, 199, 200);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(67, 67, 176);
   
}

.oculto{
    display: none;
}
.visible{
    display: block;
}
#container-modal{
    padding: 10px 0px;
    width: 90%;
    margin-top:5%;
    position: fixed;
  justify-content: center;
  display:flex;
  
    
    
}


.cx-ctt{
    display: flex;
    margin-top: 10px;
}

.cx-ctt span{
   width: 60px;
    background-color: #eeee;
    padding: 2%;
    text-align: center;
}
.cx-ctt input{
    flex: 1;
    padding: 2%;
}

.modal-ctt .cx-buttons{
    display: flex;
}
.modal-ctt .cx-buttons button{
    flex: 1;
    padding: 10px;
    margin: 10px 5px;
    border: none;
    color: #FFF;
    border-radius: 10PX;
}

.modal-ctt .cx-buttons #cancel-note{
background-color: rgb(213, 64, 64);
}

.modal-ctt .cx-buttons #cancel-note:hover{
    background-color: rgb(172, 27, 27); 
    cursor: pointer;
}
.modal-ctt .cx-buttons #add-note{
    background-color: rgb(87, 224, 167)
}
.modal-ctt .cx-buttons #add-note:hover{
    background-color: rgb(44, 203, 44);
    cursor:pointer;
}



.container-favoritos{
   display: block;
   background-color: blue;
    width: 100%;
    padding: 1%;
}


.start-modal{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgb(27, 77, 146);
    position: fixed;
    top: 50vh;
    left: 88%;
    margin-right: 20px;
    border: none;
    color: #EEE;
 
   
}

.start-modal:hover{
    background-color: rgb(20, 84, 174);
    cursor: pointer;
    box-shadow: 0px 0px 0px rgb(67, 111, 85);
   
}
/**responsividade **/
@media screen and (max-width:600px){
    ul{
        align-items: center;
    }
  
ul li{
    flex-direction: column;
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px rgb(92, 92, 246);
    margin-top: 7%;
}
ul li:hover{
    background-color: none;
}
ul li div,img,a{
    margin-top: 10px;
    margin-right: 0;
}
ul li .icons-func imf{
   flex: 1;
}


.content-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .container-content{
        width: 100%;
     flex-direction: column;
justify-content:flex-start;
display: block;
     
    }
    .start-modal{
        left: 85%;
        top: 80%;
       
    }
  

  
}

@media screen and (max-width:390px){
    .start-modal{
        left: 78%;
        top: 80%;
       
    }
}