
*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
 display: block;
}
header{
    grid-area: header;
    padding: 10px;
    background-color: rgb(0, 134, 123);
}

.content-main{
   display: flex;
    justify-content: center;
}
main{
    
    width: 80%;
    height: 100vh;
    background-color: #eee;
}
main .container-favoritos{
    background-color: rgba(99, 200, 185, 0.645);
    min-height: 200px;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .models{
    display: none;
}

main .content-list{
  
    padding: 10px;
}

 .card-ctt{
    padding: 1%;
    background-color: rgb(102, 166, 167);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;
}
.card-ctt .profile img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.card-ctt .profile,.data,.icons{
    display: flex;
    align-items:center;
}
.card-ctt .data a{
    margin-left: 10px;
}
.card-ctt .data a img{
    width: 20px;
}

.data{
    margin-left: 30%;
}

main  .open-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    position: fixed;
    top: 50vh;
    left: 80vw;
    background-color: rgb(0, 134, 123);
}

main .open-modal:hover{
    cursor: pointer;
}

/*Modal*/

.visivel{
    display: flex;
}
.oculto{
    display: none;
}

main .container-modal{
  
    justify-content: center;
    align-items: center;
}

main .container-modal .modal{
    display: block;
    box-shadow: 0px 0px 10px #eee;
    position: fixed;
    top: 10vh;
    border-radius: 10px;
    margin: 5%;
   width: 600px;
   max-width: 600px;
   padding: 2%;
    background-color: rgb(63, 155, 147);
}

.modal #cx-file{
   margin: 2%;
   display: flex;
   justify-content: center;
}
#cx-file input{
    height: 70px;
    width: 70px;
    border-radius: 100%;
   background-image: url(/public/img/user.png);
   background-repeat: none;
   background-size: cover;
background-color: rgb(179, 233, 230);
     font-size: 0;
}

.container-modal .modal #cx-inputs {
    display: flex;
    margin-bottom: 5px;
    padding: 2%;
    
}
.container-modal .modal #cx-inputs span{
    padding:2%;
    background-color: #eee;
    text-align: center;
    width: auto;
    width: 70px;

}
.container-modal .modal #cx-inputs input{
    width: 100%;
    padding: 1%;
}

.container-modal .modal #cx-buttons{
    display: flex;
    padding:2%;
   
}
.container-modal .modal #cx-buttons button{
    flex: 1;
    margin-left: 1%;
    margin-right: 1%;
    padding:2%;
    border: none;
    border-radius: 15px;
}
.container-modal .modal #cx-buttons .btn-cancel{
background-color: rgb(136, 43, 43);
}
.container-modal .modal #cx-buttons .btn-cancel:hover{
    background-color: rgb(130, 10, 10);
    cursor: pointer;
    }
.container-modal .modal #cx-buttons  .btn-add{
background-color: green;
}

.container-modal .modal #cx-buttons  .btn-add:hover{
    background-color: rgb(38, 159, 38);
    cursor: pointer;
    }

@media screen and (max-width:900px){
    main{
        width: 100vw;
    }
    main .open-modal{
    top:90vh;
    }
    main .container-modal  .modal{
      width: 90vw;
    }
    
}

@media screen  and (max-width:300px){
   
    .card-ctt{
    
     font-size: 12px;
    }
    .cx-ctt img{
     width: 20px;
    }
    
 }
